.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.button {
  appearance: none;
  background: none;
  font-size: 22px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(39, 4, 109);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}
.textbox {
  font-size: 22px;
  padding: 2px;
  max-width: 360px;
  text-align: center;
  margin-right: 8px;
}
.todocontainer {
  padding: 1rem;
  position: absolute;
  top: 7rem;
  width: 100%;
  max-width: 500px;
  text-overflow: ellipsis;
  /* box-shadow: 2px 4px rgb(228, 181, 243); */
  box-shadow: 0 0 0 6px rgb(228, 181, 243);
}
